* {
    margin: 0;
    padding: 0;
    list-style-type:none;
}
#wrapper {
    background-image: url(../images/dayCloudsSky.gif);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
#header {
    position: relative;
    background-position: right;
    background-image:url(../images/vectorBigCastle!.png);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 2rem;
}
#mountainsLeft {
    position: absolute;
    bottom: 0px;
    background-image: url(../images/m_3\ —\ копия.png);
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: -4rem;
    z-index: 2;
}
#mountainsRight {
    position: absolute;
    bottom: 0px;
    background-image: url(../images/m_2\ copy.png);
    height: 40vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
}

#navBar > ul {
    position: relative;
    background-color: rgb(108, 101, 126,0.4);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: .5vh;
    font-size: .9rem;
    font-style: italic;
    letter-spacing: .15rem;
    text-shadow:2px 2px 3px rgb(253, 253, 253);
}
#leftKnight {
    background-image: url(../images/vectorLeftKnightwithSword.gif);
    height: 45vh;
    width: 21vw;
    background-size: contain;
    background-repeat: no-repeat;
    animation: moveLeftKnight 5s ease-in-out 0s;
    animation-timing-function: initial;
}

#knights {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
}

#rightKnight {
    background-image: url(../images/vectorKnight.gif);
    height: 40vh;
    width: 19.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    animation: moveRightKnight 5s ease-in-out 0s ;
    animation-timing-function: initial;
}
#nav1:hover, #nav2:hover, #nav3:hover,#nav4:hover  {
    color: rgb(32, 32, 31);
    text-shadow:3px 3px 5px white;
}

h1 {
    font-size: 3rem;
    padding:2vh 0;
    text-align: center;
    color: rgb(26, 15, 15);
    text-shadow:5px 5px 8px rgb(187, 176, 176);
    letter-spacing: .5rem;
    
}
#container {
    height: 35vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#yourKnight {
    height: 30vw;
    width: 20vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../images/LeftStaticKnight\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: rotateRight 4s ease-in-out 0s ;
    animation-timing-function: initial;
}
#scoreBoard {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    width: 48vw;
    height: 40vh;
    border-radius: 50%;
    background-image:url(../images/twoKnights.gif);
    opacity: 0.82;
    border: 2px solid black;
    box-shadow: 3px 3px 5px white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    color: rgb(206, 58, 58);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-shadow: 2px 2px 3px black;
}
#scoreBoard_child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}
.scoreBoard_menu > p {
    padding: .2vh;
    text-shadow: 1px 1px 2px rgb(37, 11, 11);
    text-transform: uppercase;
}

#compKnight {
    height: 30vw;
    width: 20vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url(../images/LeftStaticKnight\ 2.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#yourKills {
    padding: 1rem;
}

.users_body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:33vh;
    width: 20vw;
    border: 2.5px solid rgba(78, 71, 71, 0.585);
    box-shadow: 6px 6px 12px rgb(133, 52, 52);
    color: rgba(245, 222, 179, 0.637);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 100;
    font-family: fantasy;
}

#compKnight {
    height: 30vw;
    width: 20vw;
    background-image: url(../images/RightStaticKnight.jpeg);
    background-color: grey;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: rotateLeft 4s ease-in-out 0s ;
    animation-timing-function: initial;
}

@keyframes moveRightKnight {
    0% {
        transform: translateX(440px);
}
    50% {
        transform: translateX(-30px);
}
}
@keyframes moveLeftKnight {
    0% {
        transform: translateX(-440px);
}
    50% {
        transform: translateX(30px);
}
}
@keyframes rotateLeft {
    0% {
        transform: translateX(500px);
}
    30% {
        transform: rotateZ(-10deg);
}
    50% {
        transform: translateX(-10px) rotateZ(10deg);
}
}
@keyframes rotateRight {
    0% {
        transform: translateX(-500px);
}
    30% {
        transform: rotateZ(10deg);
}
    50% {
        transform: translateX(10px) rotateZ(-10deg);

}
}